.alert-text {
    background-color: rgb(255, 192, 203);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#text {
    color: #0000FF;
    font-size: 36px;

}

.font-size-24 {
    font-size: 24px;
}

#four {
    background-color: hsl(120, 66%, 72%);
    font-size: 24px;
}